* {
    box-sizing: border-box;
    /* font family */
    font-family: 'Girassol', cursive;
    scroll-behavior: smooth;
}

body {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
    background-image: linear-gradient(to bottom left, skyblue, white);
    /* background-image: url(../img/Sin\ título.png); */
}

#right-sidebar li {
    border: none;
    background-color: inherit;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section2 img {
    width: 100%;
}

#section5 img {
    width: 10.5%;
    height: 20vh;
    vertical-align: middle;
}

#video_section {
    background-color: #f7fafb;
    padding: 3vw;
}

#video_section iframe {
    width: 100%;
    height: 65vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.dark-mode {
    background-image: linear-gradient(to bottom left, #1a202c, black);
    color: white;
}

.daek {
    color: white;
}

.black {
    background: linear-gradient(#3a4556, #3a4556);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#e2e8f0, #e2e8f0);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1.25vw;
    text-decoration: none;
    font-size: 115%;
}

li a:hover {
    background-color: lightcyan;
    color: lightslategrey;
    transition: 0.3s;
}

#boton {
    height: 0vh;
}

#header {
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 2.2vw;
    height: 100vh;
}

#section1 {
    background-color: #f7fafb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#section2 {
    background-color: #f7fafb;
    padding: 3vw;
}

#section3 {
    background-color: #f7fafb;
    padding: 3vw;
}

#section4 {
    background-color: #f7fafb;
    padding: 3vw;
}

#section5 {
    background-color: #f7fafb;
    padding: 3vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

iframe {
    border-radius: 10px;
}

#footer {
    padding-top: 10vw;
    padding: 5vw 1vw 0 3vw;
    font-size: 1.5vw;
}

.column2 {
    float: left;
}

.column3 {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 1.5vw;
    padding-left: 1.5;
}

.column2 i {
    font-size: 3vw;
    padding: 0 1vw 0 0vw;
    color: gold;
}

.button1 {
    border: none;
    background-color: inherit;
    color: navajowhite;
    float: right;
    font-size: 7vw;
    position: absolute;
    top: 0;
    right: 50px;
    top: 50px;
}

.column1 {
    width: 100%;
    float: left;
}


/* boton idioma */

select {
    border: none;
    background-color: inherit;
    font-size: inherit;
    color: gold;
}


/* Porcentajes */

#sectionX {
    background-color: #f7fafb;
    padding: 3vw;
}

#sectionEX {
    background-color: #f7fafb;
    padding: 3vw;
}

#sectionX p {
    text-align: center;
}

.container {
    text-align: center;
    padding: 5px;
    background-color: #e2e8f0;
    border-radius: 50px;
}

.skills {
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    margin: auto;
    text-align: center;
}

.sk1 {
    width: 90%;
    background-color: coral;
    border-radius: 50px;
}

.sk2 {
    width: 80%;
    background-color: cornflowerblue;
    border-radius: 50px;
}

.sk3 {
    width: 100%;
    background-color: palegreen;
    border-radius: 50px;
}

.sk4 {
    width: 100%;
    background-color: palevioletred;
    border-radius: 50px;
}

.lan {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 1vw;
}

.cat {
    width: 100%;
    background-color: royalblue;
    border-radius: 20px;
}

.cas {
    width: 100%;
    background-color: rosybrown;
    border-radius: 20px;
}

.ing {
    width: 70%;
    background-color: greenyellow;
    border-radius: 20px;
}

.jap {
    width: 20%;
    background-color: brown;
    border-radius: 20px;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

 ::-webkit-scrollbar-track {
    background: #f7fafb;
}

 ::-webkit-scrollbar-thumb {
    background: gold;
}

 ::-webkit-scrollbar-thumb:hover {
    background: goldenrod;
}

@media only screen and (max-width: 750px) {
    #header {
        text-align: center;
        background-size: cover;
        height: 100vh;
    }
    h1 {
        font-size: 9vw;
    }
    h2 {
        font-size: 6vw;
    }
    h3 {
        font-size: 5vw;
    }
    p {
        font-size: 4vw;
    }
    li a {
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 3vw;
    }
    .button1 {
        float: right;
        margin-top: 0vw;
        margin-right: 0vw;
        font-size: 8vw;
    }
    #section1 {
        font-size: 1.5vw;
    }
    body {
        margin: 5%;
        margin-top: 0;
        margin-bottom: 15%;
    }
    .column2 i {
        font-size: 6vw;
        padding: 0 5vw 0 0vw;
    }
    #footer img {
        height: 60px;
        object-fit: cover;
        margin-top: 1vw;
        margin-right: 10vh;
    }
    .column3 {
        width: 100%;
        text-align: left;
        padding-right: 0;
        padding-left: 0;
    }
    iframe {
        width: 100%;
    }
    .flex {
        display: table;
        align-items: center;
        justify-content: center;
    }
    #section5 img {
        width: 32%;
        height: 20vh;
    }
}