* {
    box-sizing: border-box;
    /* font family */
    font-family: 'Girassol', cursive;
}

body {
    margin: 15%;
    background-image: linear-gradient(to bottom left, skyblue, white);
    /* background-image: url(../img/Sin\ título.png); */
}

#section5 img {
    height: 200px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.dark-mode {
    background-image: linear-gradient(to bottom left, #1a202c, black);
    color: white;
}

.black {
    background: linear-gradient(#3a4556, #3a4556);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(#e2e8f0, #e2e8f0);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 2vw;
    text-decoration: none;
    font-size: 115%;
}

li a:hover {
    background-color: lightcyan;
    color: lightslategrey;
    transition: 0.3s;
}

#header {
    padding: 4vw 0vw 0vw 0vw;
    height: 70vh;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 2.2vw
}

#section1 {
    background-color: #f7fafb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#section2 {
    background-color: #f7fafb;
    padding: 3vw;
}

#section3 {
    background-color: #f7fafb;
    padding: 3vw;
}

#section4 {
    background-color: #f7fafb;
    padding: 3vw;
}

#section5 {
    background-color: #f7fafb;
    padding: 3vw;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

iframe {
    border-radius: 10px;
}

#footer {
    padding-top: 10vw;
    padding: 5vw 1vw 0 3vw;
    font-size: 1.5vw;
}

.column2 {
    float: left;
}

.column3 {
    width: 50%;
    float: left;
}

.column2 i {
    font-size: 3vw;
    padding: 0 1vw 0 0vw;
    color: gold;
}

.button1 {
    border: none;
    background-color: inherit;
    color: navajowhite;
    float: right;
    margin-top: -12vw;
    margin-right: -10vw;
    font-size: 7vw;
}

#sectionX {
    background-color: #f7fafb;
    padding: 3vw;
}

#sectionX p {
    text-align: center;
}

.container {
    text-align: center;
    padding: 5px;
    background-color: #e2e8f0;
    border-radius: 50px;
}

.skills {
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    margin: auto;
    text-align: center;
}

.sk1 {
    width: 100%;
    background-color: coral;
    border-radius: 50px;
}

.sk2 {
    width: 75%;
    background-color: cornflowerblue;
    border-radius: 50px;
}

.sk3 {
    width: 50%;
    background-color: palegreen;
    border-radius: 50px;
}

.sk4 {
    width: 25%;
    background-color: palevioletred;
    border-radius: 50px;
}

@media only screen and (max-width: 750px) {
    #header {
        text-align: center;
        padding: 35vw 0vw;
        height: 93vh;
    }
    h1 {
        font-size: 8vw;
    }
    h2 {
        font-size: 5vw;
    }
    h3 {
        font-size: 4vw;
    }
    p {
        font-size: 3vw;
    }
    li a {
        padding: 2.5vw;
    }
    .button1 {
        float: right;
        margin-top: 0vw;
        margin-right: 0vw;
        font-size: 8vw;
    }
    body {
        margin: 10%;
    }
    .column2 i {
        font-size: 6vw;
        padding: 0 5vw 0 0vw;
    }
    #footer img {
        height: 60px;
        object-fit: cover;
        margin-top: 1vw;
        margin-right: 10vh;
    }
}